.vscode
__pypackages__/
env/
venv/
*.pyc
*.pyo
*.pyd
.Python
env.bak/
venv.bak/
.idea/
*.swp
.DS_Store
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
__pycache__/
dataset/gsm8k/
dataset/math500/
dataset/humaneval/
dataset/hh_rlhf/
dataset/truthful_qa/
dataset/stsb/
dataset/hydrology_qa
outputs/